# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate
*.xcuserdatad

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build
build/
DerivedData/

# Swift Package Manager
.swiftpm/
.build/
*.xcodeproj

# CocoaPods
Pods/

# App specific
*.sqlite
*.sqlite-shm
*.sqlite-wal
